.wrapper {
  /*  */
  .hero {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(59, 0, 114), rgba(59, 0, 114, 0.719), transparent);
    overflow: hidden;
    position: relative;
  }
  #particles-js {
    z-index: 2;
  }
  .hero-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
  }
  .title {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 102px;
    margin-bottom: 44px;
    text-transform: uppercase;
    color: rgb(59, 0, 114);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: whitesmoke;
    letter-spacing: 16px;
    position: relative;
  }
  .cross-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* perspective property */
    perspective: 900px;
    .cross-1 {
      position: absolute;
      height: 60px;
      width: 320px;
      border-radius: 22px;
      background-color: black;
      top: 0;
      transform: translateY(-100px) translateX(100px) rotate3d(5, 0, 4, 65deg) translate3d(64px, 65px, 60px);
      border: 1px solid white;
      animation: move-1 3s linear infinite;
    }
    @keyframes move-1 {
      0% {
        transform: translateY(-100px) translateX(100px) rotate3d(5, 0, 4, 65deg) translate3d(64px, 65px, 60px);
      }
      50% {
        transform: translateY(-120px) translateX(120px) rotate3d(5, 0, 4, 65deg) translate3d(64px, 65px, 60px);
      }
      100% {
        transform: translateY(-100px) translateX(100px) rotate3d(5, 0, 4, 65deg) translate3d(64px, 65px, 60px);
      }
    }
    .cross-2 {
      position: absolute;
      height: 60px;
      width: 640px;
      border-radius: 22px;
      background-color: black;
      border: 1px solid white;
      transform: rotate3d(5, 0, 4, 65deg) translate3d(64px, 65px, 60px);
      animation: move-2 3s linear infinite;
    }
    @keyframes move-2 {
      0% {
        transform: translateY(0px) translateX(0px) rotate3d(5, 0, 4, 65deg) translate3d(64px, 65px, 60px);
      }
      50% {
        transform: translateY(-20px) translateX(20px) rotate3d(5, 0, 4, 65deg) translate3d(64px, 65px, 60px);
      }
      100% {
        transform: translateY(0px) translateX(0px) rotate3d(5, 0, 4, 65deg) translate3d(64px, 65px, 60px);
      }
    }
    .cross-3 {
      position: absolute;
      height: 60px;
      width: 320px;
      border-radius: 22px;
      background-color: black;
      bottom: 0;
      transform: translateY(100px) translateX(-100px) rotate3d(5, 0, 4, 65deg) translate3d(64px, 65px, 60px);
      border: 1px solid white;
      animation: move-3 3s linear infinite;
    }
    @keyframes move-3 {
      0% {
        transform: translateY(100px) translateX-(100px) rotate3d(5, 0, 4, 65deg) translate3d(64px, 65px, 60px);
      }
      50% {
        transform: translateY(80px) translateX(-80px) rotate3d(5, 0, 4, 65deg) translate3d(64px, 65px, 60px);
      }
      100% {
        transform: translateY(100px) translateX(-100px) rotate3d(5, 0, 4, 65deg) translate3d(64px, 65px, 60px);
      }
    }
    .cross-4 {
      position: absolute;
      height: 640px;
      width: 60px;
      border-radius: 22px;
      background-color: black;
      border: 1px solid white;
      transform: rotate3d(5, 0, 4, 65deg) translate3d(64px, 65px, 60px);
    }
  }
}
